.form-check
    label.kind-label(for='flexRadioDefault31')
        img(src="./img/kabak1.PNG" alt="" style="width:auto !important;")
    input#flexRadioDefault31.form-check-input(type='radio' name='flexRadioDefault')
hr
.form-check
    label.kind-label(for='flexRadioDefault32')
        img(src="./img/kabak2.PNG" alt="" style="width:auto !important;")

    input#flexRadioDefault32.form-check-input(type='radio' name='flexRadioDefault' )
hr
.form-check
    label.kind-label(for='flexRadioDefault33')
        img(src="./img/kabak3.PNG" alt="" style="width:auto !important;")
    input#flexRadioDefault33.form-check-input(type='radio' name='flexRadioDefault' checked='')
hr
.form-check
    label.kind-label(for='flexRadioDefault34')
        img(src="./img/kabak4.PNG" alt="" style="width:auto !important;")
    input#flexRadioDefault34.form-check-input(type='radio' name='flexRadioDefault')
hr
.form-check
    label.kind-label(for='flexRadioDefault35')
        img(src="./img/kabak5.PNG" alt="" style="width:auto !important;")
    input#flexRadioDefault35.form-check-input(type='radio' name='flexRadioDefault')
hr
.form-check
    label.kind-label(for='flexRadioDefault36')
        img(src="./img/kabak6.PNG" alt="" style="width:auto !important;")
    input#flexRadioDefault36.form-check-input(type='radio' name='flexRadioDefault')