.input-group 
    label(for="acsseCount") عدد الاكسسوار
        hr.label-hr
    input.form-control(id="acsseCount" type="text" placeholder="اكتب عدد الاكسسوار هنا ..")
.input-group 
    label(for="clothKind") نوع القماش
        hr.label-hr
    input.form-control(id="clothKind" type="text" placeholder="اكتب نوع القماش هنا ..")
.input-group 
    label(for="acsseKind") نوع الاكسسوار
        hr.label-hr
    input.form-control(id="acsseKind" type="text" placeholder="اكتب نوع الاكسسوار هنا ..")
.input-group 
    label(for="model") نوع الموديل
        hr.label-hr
    input.form-control(id="model" type="text" placeholder="اكتب نوع الموديل هنا ..")
.input-group 
    label(for="pocketAcsse") اككسوار الجيب
        hr.label-hr
    input.form-control(id="pocketAcsse" type="text" placeholder="اكتب اككسوار الجيب هنا ..")