.form-check
    label.kind-label(for='flexRadioDefault37')
        img(src="./img/unknown1.PNG" alt="" style="width:auto !important; height:auto !important;")
    input#flexRadioDefault37.form-check-input(type='radio' name='flexRadioDefault')
hr
.form-check
    label.kind-label(for='flexRadioDefault38')
        img(src="./img/unknown2.PNG" alt="" style="width:auto !important; height:auto !important;")

    input#flexRadioDefault38.form-check-input(type='radio' name='flexRadioDefault' )
hr
.form-check
    label.kind-label(for='flexRadioDefault39')
        img(src="./img/unknown3.PNG" alt="" style="width:auto !important; height:auto !important;")
    input#flexRadioDefault39.form-check-input(type='radio' name='flexRadioDefault' checked='')
hr
.form-check
    label.kind-label(for='flexRadioDefault40')
        img(src="./img/unknown4.PNG" alt="" style="width:auto !important; height:auto !important;")
    input#flexRadioDefault40.form-check-input(type='radio' name='flexRadioDefault')
hr
.form-check
    label.kind-label(for='flexRadioDefault41')
        img(src="./img/unknown5.PNG" alt="" style="width:auto !important; height:auto !important;")
    input#flexRadioDefault41.form-check-input(type='radio' name='flexRadioDefault')
hr
.form-check
    label.kind-label(for='flexRadioDefault42')
        img(src="./img/unknown6.PNG" alt="" style="width:auto !important; height:auto !important;")
    input#flexRadioDefault42.form-check-input(type='radio' name='flexRadioDefault')
hr
.form-check
    label.kind-label(for='flexRadioDefault43')
        img(src="./img/unknown7.PNG" alt="" style="width:auto !important; height:auto !important;")
    input#flexRadioDefault43.form-check-input(type='radio' name='flexRadioDefault')