.form-check
    label.kind-label(for='flexRadioDefault11')
        | صيني
        img(src="./img/كم_صيني.PNG", alt="")
    input#flexRadioDefault11.form-check-input(type='radio' name='flexRadioDefault')
hr
.form-check
    label.kind-label(for='flexRadioDefault12')
        |فرنسي
        img(src="./img/كم_فرنسي.PNG", alt="")
    input#flexRadioDefault12.form-check-input(type='radio' name='flexRadioDefault' )
hr
.form-check
    label.kind-label(for='flexRadioDefault14')
        |قلاب زرين 
        img(src="./img/كم_قلاب_زرين.PNG", alt="")
    input#flexRadioDefault14.form-check-input(type='radio' name='flexRadioDefault' checked='')
hr
.form-check
    label.kind-label(for='flexRadioDefault99')
        |قلاب 
        img(src="./img/كم_قلاب.PNG", alt="")
    input#flexRadioDefault99.form-check-input(type='radio' name='flexRadioDefault')
hr
.form-check
    label.kind-label(for='flexRadioDefault100')
        | ملكي زر واحد 
        img(src="./img/ملكي_زر_واحد.PNG", alt="")
    input#flexRadioDefault100.form-check-input(type='radio' name='flexRadioDefault')
hr
.form-check
    label.kind-label(for='flexRadioDefault15')
        | ملكي زرين
        img(src="./img/كم_ملكي_زرين.PNG", alt="")
    input#flexRadioDefault15.form-check-input(type='radio' name='flexRadioDefault')
