.form-check
    label.kind-label(for='flexRadioDefault1')
        | سديري
    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
hr
.form-check
    label.kind-label(for='flexRadioDefault2')
        |كويتي 
    input#flexRadioDefault2.form-check-input(type='radio' name='flexRadioDefault' )
hr
.form-check
    label.kind-label(for='flexRadioDefault3')
        |سعودي 
    input#flexRadioDefault3.form-check-input(type='radio' name='flexRadioDefault' checked='')
hr
.form-check
    label.kind-label(for='flexRadioDefault4')
        |قطري 
    input#flexRadioDefault4.form-check-input(type='radio' name='flexRadioDefault')
