.form-check
    label.kind-label(for='flexRadioDefault5')
        | خياط دبل
    input#flexRadioDefault5.form-check-input(type='radio' name='flexRadioDefault')
hr
.form-check
    label.kind-label(for='flexRadioDefault6')
        |خفيف
    input#flexRadioDefault6.form-check-input(type='radio' name='flexRadioDefault' )
hr
.form-check
    label.kind-label(for='flexRadioDefault7')
        |تركيب 
    input#flexRadioDefault7.form-check-input(type='radio' name='flexRadioDefault' checked='')
hr
.form-check
    label.kind-label(for='flexRadioDefault8')
        |سستة 
    input#flexRadioDefault8.form-check-input(type='radio' name='flexRadioDefault')
hr
.form-check
    label.kind-label(for='flexRadioDefault9')
        |زرار مخفي 
    input#flexRadioDefault9.form-check-input(type='radio' name='flexRadioDefault')
hr
.form-check
    label.kind-label(for='flexRadioDefault10')
        |خيط مخفي 
    input#flexRadioDefault10.form-check-input(type='radio' name='flexRadioDefault')
