.input-group 
    label(for="username") الاسم
        hr.label-hr
    input.form-control(id="username" type="text" placeholder="اكتب الاسم هنا ..")
.input-group 
    label(for="orderNumb") رقم الطلب
        hr.label-hr
    input.form-control(id="orderNumb" type="text" placeholder="اكتب رقم الطلب هنا ..")
.input-group 
    label(for="recetnumb") رقم الفاتورة
        hr.label-hr
    input.form-control(id="recetnumb" type="text" placeholder="اكتب رقم الفاتورة هنا ..")