.form-check
    label.kind-label(for='flexRadioDefault16')
        img(src="./img/pocket1.PNG" alt="")
    input#flexRadioDefault16.form-check-input(type='radio' name='flexRadioDefault')
hr
.form-check
    label.kind-label(for='flexRadioDefault17')
        img(src="./img/pocket2.PNG" alt="")

    input#flexRadioDefault17.form-check-input(type='radio' name='flexRadioDefault' )
hr
.form-check
    label.kind-label(for='flexRadioDefault18')
        img(src="./img/pocket3.PNG" alt="")

    input#flexRadioDefault18.form-check-input(type='radio' name='flexRadioDefault' checked='')
hr
.form-check
    label.kind-label(for='flexRadioDefault19')
        img(src="./img/pocket4.PNG" alt="")
    input#flexRadioDefault19.form-check-input(type='radio' name='flexRadioDefault')
hr
.form-check
    label.kind-label(for='flexRadioDefault20')
        img(src="./img/pocket5.PNG" alt="")
    input#flexRadioDefault20.form-check-input(type='radio' name='flexRadioDefault')