.input-group 
    label(for="sizecount") عدد القطع
        hr.label-hr
    input.form-control(id="sizecount" type="text" placeholder="اكتب العدد هنا ..")
.input-group 
    label(for="neckSize") مقاس الرقبة
        hr.label-hr
    input.form-control(id="neckSize" type="text" placeholder="اكتب مقاس الرقبة هنا ..")
.input-group 
    label(for="handSize") مقاس اليد
        hr.label-hr
    input.form-control(id="handSize" type="text" placeholder="اكتب مقاس اليد هنا ..")
.input-group 
    label(for="shoulderSize") مقاس الكتف
        hr.label-hr
    input.form-control(id="shoulderSize" type="text" placeholder="اكتب مقاس الكتف هنا ..")
.input-group 
    label(for="chestSize") مقاس الصدر
        hr.label-hr
    input.form-control(id="chestSize" type="text" placeholder="اكتب مقاس الصدر هنا ..")
.input-group 
    label(for="elbowSize") مقاس الكوع
        hr.label-hr
    input.form-control(id="elbowSize" type="text" placeholder="اكتب مقاس الكوع هنا ..")
.input-group 
    label(for="armpitSize") مقاس الباط
        hr.label-hr
    input.form-control(id="armpitSize" type="text" placeholder="اكتب مقاس الباط هنا ..")
.input-group 
    label(for="underSize") مقاس اسفل الباط
        hr.label-hr
    input.form-control(id="underSize" type="text" placeholder="اكتب مقاس اسفل الباط هنا ..")
.input-group 
    label(for="longSize") مقاس الطول
        hr.label-hr
    input.form-control(id="longSize" type="text" placeholder="اكتب مقاس الطول هنا ..")