.progress-bar 
    .progress-step(data-title="بياناتك" class="active")
    .progress-step(data-title="نوع السديري")
    .progress-step(data-title="المقاسات")
    .progress-step(data-title="اكسسوارات")
    .progress-step(data-title="نوع الخباطة")
    .progress-step(data-title="نوع الرقبة")
    .progress-step(data-title="جيب البنطلون")
    .progress-step(data-title="الكبك")
    .progress-step(data-title="غير معروف")
    .progress-step(data-title="ملاحظات")
    .bar